.detail,
.detail-header,
.card {
  display: flex;
}

.detail,
.card {
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  padding: 1em;
  width: 20em;
  height: 20em;
  border-radius: 0.8em;
  margin: 5em;
  border-radius: 2em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
  text-overflow: clip;
  max-width: fit-content;
}

.imagediv {
  width: 100%;
  height: 15em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: .3em;
    margin: 1em;
    padding: .8em;
    cursor: pointer;
    border-bottom: 3px solid ;
    height: 2em;
}

.button:hover {
    border-radius: 4px;
    transition: all 0.2s ease-out;
    /* add hover change */
  }

.submit-form {
  float: right;
}